<div class="main-container">
    <app-breadcrumb></app-breadcrumb>
    <div class="example1">
        <h5>
            Configuración: Todos los campos se pueden repetir, todos son
            obligatorios. Máximo de filas 5
        </h5>
        <app-form-array
            [formArrayConfig]="formArrayConfig1"
            [data]="employeeData1"
            [isLoadingSig]="isLoadingSig()"
            [maxRows]="5"
            (emitFormArrayValue)="getFormArray1Value($event)"
        ></app-form-array>
    </div>
    <div class="example2">
        <h5>
            Configuración: Ningun campo se puede repetir, todos son
            obligatorios. Máximo de filas 3.
        </h5>
        <app-form-array
            [formArrayConfig]="formArrayConfig2"
            [isLoadingSig]="isLoadingSig()"
            [maxRows]="3"
            (emitFormArrayValue)="getFormArray2Value($event)"
        ></app-form-array>
    </div>
    <div class="example3">
        <h5>
            Configuración: Validación de rango de fechas y campos solo lectura
        </h5>
        <app-form-array
            [formArrayConfig]="formArrayConfig2"
            [data]="employeeData2"
            [isLoadingSig]="isLoadingSig()"
            (emitFormArrayValue)="getFormArray3Value($event)"
        ></app-form-array>
    </div>
</div>
