.components-container {
    margin-top: 20px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 300px;
    letter-spacing: 2px;

    .login-form-container {
        mat-form-field {
            width: 100%;
        }
    }

    .actions-container {
        margin-top: auto;
    }
}
