<div class="components-container">
    <app-alert></app-alert>
</div>
<div class="form-wrapper">
    <div class="login-form-container">
        <form [formGroup]="loginForm">
            <mat-form-field appearance="outline">
                <mat-label>Usuario</mat-label>
                <input
                    matInput
                    formControlName="username"
                    appRequiredValidation
                    readonly="true"
                />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    type="password"
                    formControlName="password"
                    appRequiredValidation
                    readonly="true"
                />
            </mat-form-field>
        </form>
    </div>
    <p>AL INGRESAR EL SERVIDOR PUEDE TARDAR UNOS SEGUNDOS EN LEVANTAR...</p>
    <p>
        El servidor de pruebas/gratuito se apaga automáticamente por inactividad
        para optimizar recursos. Debido a esto, vuelva a iniciar sesión.
    </p>
    <div class="actions-container">
        <button mat-flat-button color="primary" (click)="onLogin()">
            Ingresar
        </button>
    </div>
</div>
