@import "./../../../styles/colors.scss";

:host {
    height: 100%; // Altura completa del contenedor padre
    overflow: hidden; // Evita que se desborde el host
}

.filter-panel {
    position: relative;
    height: 100%;
    width: 100%;
    transition: width 0.3s ease-in-out;
}

// Estado colapsado: se comprime hacia la derecha
.filter-panel.collapsed {
    width: 100%;
}

// El div que contiene el botón y el título
.filter-panel.collapsed > form > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    //Para ocultar el título cuando está colapsado
    .title {
        display: none;
    }
}

.form {
    padding: 15px;
    background-color: $anti-flash-white;
    box-sizing: border-box; // Incluye padding y border en el ancho y alto total del elemento
    height: 100%; // Ocupa todo el espacio disponible del contenedor padre
    display: flex;
    flex-direction: column;
}

.form-header {
    display: flex;
    align-items: baseline;
    gap: 15px;
}

.toggle-button {
    background-color: $anti-flash-white;
    color: $primary-material-color;
    border: 1px solid $primary-material-color;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 32px;
    width: 32px;
    padding: 0;
    line-height: 32px;
    margin: 0;
}

.filter-panel.collapsed .toggle-button {
    // Eliminar o anular reglas que impiden el centrado Flexbox
    position: static;
    left: auto;
    transform: translate(0, -50%);
}

.collapsed-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 20px !important;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.1875rem;
    margin: 0 0 20px 0; // Elimina márgenes automáticos y añade espacio inferior
    height: 40px; // Altura fija para el título
}

// El contenido (campos y botones) que se oculta
.form-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // ESTILOS DE TRANSICIÓN PARA EL ESTADO EXPANDIDO
    opacity: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    pointer-events: auto;
    transition:
        opacity 0.3s ease-in-out,
        height 0.3s ease-in-out;
}

.form-content.hidden {
    opacity: 0; // Lo oculta visualmente
    height: 0; // Lo colapsa verticalmente para que no ocupe espacio
    padding: 0;
    margin: 0;
    pointer-events: none;
    overflow: hidden; // para quitar sceroll interno de .form-fields
}

.form-fields {
    flex: 1; // Toma todo el espacio disponible
    overflow-y: auto; // Scroll cuando sea necesario
    padding-right: 5px; // Espacio para la barra de scroll
    padding-top: 5px; // Espacio superior para que el label flotante de material no se vea cortado
    height: auto;
    //max-height: 500px;

    // Reglas para navegadores basados en WebKit (Chrome, Safari, Edge)
    &::-webkit-scrollbar {
        width: 3px;
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8;
    }

    // Reglas para Firefox
    // Usamos @supports para que Chrome ignore estas reglas y use las de arriba
    @supports not selector(::-webkit-scrollbar) {
        scrollbar-width: thin;
        scrollbar-color: #c1c1c1 #f1f1f1;
    }
}

// Aplicamos margen inferior a todos los hijos directos de .form-fields
.form-fields > * {
    margin-bottom: 15px;
}
// Para aplica un margen inferior al último hijo directo dentro del contenedor .form-fields
.form-fields > *:last-child {
    margin-bottom: 15px;
}

.filter-actions {
    flex-shrink: 0; // No se encogen nunca
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 15px;
    padding: 20px 0;
    border-top: 1px solid #ddd; // Línea divisoria
    background-color: $anti-flash-white;
}

.width {
    width: 100%; // Fuerza que todos los campos tengan el mismo ancho
}

app-date-input {
    margin-bottom: 15px !important; // Mismo espaciado que otros campos
    display: block !important;
}

app-date-range {
    margin-bottom: 15px !important; // Mismo espaciado que otros campos
    display: block !important;
}

// Para añadir margen inferior a todos los elementos con la clase skeleton-loading heredado de skeleton.scss

.skeleton-loading {
    margin-bottom: 30px !important;
}

mat-form-field.skeleton-loading {
    margin-bottom: 30px !important;
}
