<div class="alerts-wrapper">
    @for (alert of alerts; track alert.id) {
        <div [ngClass]="getAlertClass(alert.type)">
            <mat-icon class="alert-icon" [ngClass]="'icon-' + alert.type">
                @switch (alert.type) {
                    @case ("warning") {
                        warning
                    }
                    @case ("info") {
                        info
                    }
                    @case ("danger") {
                        error
                    }
                    @default {
                        notification_important
                    }
                }
            </mat-icon>
            <div class="alert-message">
                {{ alert.message }}
            </div>
            <button class="alert-close-button" (click)="closeAlert(alert.id)">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    }
</div>
