<div class="wrapper">
    <div
        class="wrapper__content-area"
        [class.wrapper__content-area--filter-collapsed]="isFilterCollapsedSig()"
    >
        <div class="wrapper__grid-area">
            <app-breadcrumb
                class="wrapper__breadcrumb-spacing"
            ></app-breadcrumb>
            <app-alert class="wrapper__alert-spacing"></app-alert>

            <app-grid
                class="wrapper__grid-component"
                [gridConfigSig]="gridConfigSig()"
                [gridDataSig]="gridDataSig()"
                [isLoadingSig]="isLoadingGridDataSig()"
                [chipsSig]="chipsSig()"
                (pageChange)="onGridPageChange($event)"
                (sortChange)="onGridSortChange($event)"
                (exportExcel)="onExportToExcel()"
                (chipRemoved)="onRemoveChip($event)"
                (createButtonClicked)="onCreateEmployee()"
                (rowDblClick)="onRowDblClick($event)"
            ></app-grid>
        </div>

        <div class="wrapper__filter-container">
            <ng-container>
                <app-grid-filter
                    [configSig]="gridFilterConfigSig()"
                    [filterFormSig]="gridFilterFormSig()"
                    [isLoadingSig]="isLoadingFilterGridDataSig()"
                    (emitFilterApplied)="applyFilter($event)"
                    (isCollapsedChange)="onFilterCollapseChange($event)"
                ></app-grid-filter>
            </ng-container>
        </div>
    </div>
</div>
