.wrapper {
    height: calc(100vh - 100px);
    background-color: #fafbfc;
}

// Contenedor del Grid y Filtro
.components-container {
    display: grid;
    grid-template-columns: 1fr 260px; // 1fr para componente Grilla | 260px para componente Filtro
    gap: 16px;
    width: 100%;
    height: 100%; // Ocupa todo el alto del contenedor wrapper
    overflow: hidden; // Evitamos el desbordamiento externo
}

// Estilo cuando el filtro grid-filter.component está colapsado
.components-container.filter-collapsed {
    // Definimos el nuevo tamaño para la grilla (1fr) y el filtro colapsado (por ejemplo, 60px)
    grid-template-columns: 1fr 50px;
}

.employee-grid-container {
    display: flex;
    flex-direction: column;
    height: 100%; // Componente grid Ocupa el 100% de altura en este contenedor
    min-height: 0; // Permite que el elemento interno se encoja para dejar espacio a los banners
    margin-top: 0;

    // Estilos de espaciado para componentes breadcrumb y alert
    app-breadcrumb {
        margin-top: 20px;
    }
    app-alert {
        margin-bottom: 16px;
    }

    overflow: hidden; // Evita el scroll externo de esta columna
}

// Estrictamente para el componente grid.component
app-grid {
    flex: 1; // Ocupa todo el espacio vertical restante
    min-height: 0; // Necesario para que el scroll interno de la grilla funcione correctamente
}

.filter-container {
    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
