<!-- <app-breadcrumb></app-breadcrumb>
<app-alert></app-alert>
<div class="employee-grid-container">
    <app-grid
        [gridConfigSig]="gridConfigSig()"
        [gridDataSig]="gridDataSig()"
        [isLoadingSig]="isLoadingGridDataSig()"
        [chipsSig]="chipsSig()"
        (pageChange)="onGridPageChange($event)"
        (sortChange)="onGridSortChange($event)"
        (exportExcel)="onExportToExcel()"
        (chipRemoved)="onRemoveChip($event)"
        (createButtonClicked)="onCreateEmployee()"
        (rowDblClick)="onRowDblClick($event)"
    ></app-grid>
    <div class="filter-container">
        <ng-container>
            <app-grid-filter
                [config]="gridFilterConfigSig()"
                [filterForm]="gridFilterFormSig()"
                [isLoading]="isLoadingFilterGridDataSig()"
                (emitFilterApplied)="applyFilter($event)"
            ></app-grid-filter>
        </ng-container>
    </div>
</div> -->

<div class="app-wrapper">
    <div class="components-container">
        <div class="employee-grid-container">
            <app-breadcrumb></app-breadcrumb>
            <app-alert></app-alert>
            <app-grid
                [gridConfigSig]="gridConfigSig()"
                [gridDataSig]="gridDataSig()"
                [isLoadingSig]="isLoadingGridDataSig()"
                [chipsSig]="chipsSig()"
                (pageChange)="onGridPageChange($event)"
                (sortChange)="onGridSortChange($event)"
                (exportExcel)="onExportToExcel()"
                (chipRemoved)="onRemoveChip($event)"
                (createButtonClicked)="onCreateEmployee()"
                (rowDblClick)="onRowDblClick($event)"
            ></app-grid>
        </div>
        <div class="filter-container">
            <ng-container>
                <app-grid-filter
                    [config]="gridFilterConfigSig()"
                    [filterForm]="gridFilterFormSig()"
                    [isLoading]="isLoadingFilterGridDataSig()"
                    (emitFilterApplied)="applyFilter($event)"
                ></app-grid-filter>
            </ng-container>
        </div>
    </div>
</div>
