@if (isLoadingSig()) {
    @if (gridConfigSig().hasInputSearch) {
        <div class="skeleton-search-container">
            <div class="skeleton-search-label">Buscar</div>
            <div class="skeleton-search-input"></div>
        </div>
    }

    <div class="skeleton-table">
        <div class="skeleton-header-row">
            @for (col of columns(); track col.name) {
                <div class="skeleton-header-cell"></div>
            }
        </div>

        @for (
            i of [].constructor(paginatorConfig()?.pageSize || 25);
            track $index
        ) {
            <div class="skeleton-row">
                @for (col of columns(); track col.name) {
                    <div class="skeleton-cell">
                        <div class="skeleton-line"></div>
                    </div>
                }
            </div>
        }
    </div>
}

@if (!isLoadingSig()) {
    @if (gridConfigSig().hasInputSearch) {
        <div class="input-search-container">
            <mat-form-field appearance="outline" class="search-field">
                <mat-label>Buscar</mat-label>
                <input
                    matInput
                    (input)="onInputSearch($event)"
                    [placeholder]="
                        gridConfigSig().filterByColumn || 'Buscar todo'
                    "
                />
            </mat-form-field>
            <ng-container
                [ngTemplateOutlet]="actionButtonsTemplate"
            ></ng-container>
        </div>
    } @else {
        <div class="chips-and-buttons-container">
            @if (gridConfigSig().hasChips) {
                <app-chips
                    [chips]="chipsSig()"
                    (chipRemoved)="onChipRemoved($event)"
                ></app-chips>
            }
            <ng-container
                [ngTemplateOutlet]="actionButtonsTemplate"
            ></ng-container>
        </div>
    }
}

<ng-template #actionButtonsTemplate>
    @if (gridConfigSig().actionButtons!.length > 0) {
        <div class="action-buttons-container">
            @for (button of gridConfigSig().actionButtons; track button.text) {
                <div class="buttons-actions">
                    <button
                        [class]="button.class ?? ''"
                        [style]="button.style"
                        (click)="
                            button.type === 'download'
                                ? exportToExcel()
                                : button.action && button.action()
                        "
                        [matTooltip]="button.tooltip ?? ''"
                    >
                        @if (button.icon) {
                            <img [src]="button.icon" alt="icon" />
                        }
                        @if (button.text) {
                            <span>{{ button.text }}</span>
                        }
                    </button>
                </div>
            }
        </div>
    }
</ng-template>

<div class="table-container" #scrollContainer>
    <table
        mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="onSortChange($event)"
        class="table"
        [class.table-hidden]="isLoadingSig || dataSource.data.length === 0"
    >
        @for (col of columns(); track col.name) {
            <ng-container [matColumnDef]="col.name">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="grid-cell"
                    [style.width]="col.width"
                    [style.text-align]="col.align"
                    [matTooltip]="col.headerTooltip ? col.headerTooltip : ''"
                >
                    @if (col.hasHeader !== false) {
                        <div class="header-content">
                            @if (col.headerIcon) {
                                <img [src]="col.headerIcon" alt="icon" />
                            }

                            @if (col.isSortable) {
                                <span
                                    mat-sort-header
                                    [mat-sort-header]="col.name"
                                    [disabled]="!col.isSortable"
                                    class="sortable-header"
                                >
                                    {{ col.name | titlecase }}
                                </span>
                            } @else {
                                <span>
                                    {{ col.name | titlecase }}
                                </span>
                            }
                        </div>
                    }
                </th>

                <td
                    mat-cell
                    *matCellDef="let row"
                    class="grid-cell"
                    [style.width]="col.width"
                    [style.text-align]="col.align"
                    [ngStyle]="{
                        'text-overflow':
                            col.type === 'elipsis' ? 'clip' : 'ellipsis',
                        overflow: 'hidden',
                        'white-space': 'nowrap',
                    }"
                >
                    @switch (col.type) {
                        @case ("img") {
                            <img
                                [src]="row['imgUrl']"
                                alt="Imagen"
                                class="table-img"
                            />
                        }

                        @case ("elipsis") {
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="elipsisMenu"
                                aria-label="Más opciones"
                                (click)="$event.stopPropagation()"
                                (dblclick)="$event.stopPropagation()"
                            >
                                <mat-icon color="primary">more_vert</mat-icon>
                            </button>
                            <mat-menu #elipsisMenu="matMenu">
                                @for (
                                    action of row["elipsisActions"];
                                    track action.label
                                ) {
                                    @if (
                                        action.condition
                                            ? action.condition(row)
                                            : true
                                    ) {
                                        <button
                                            mat-menu-item
                                            (click)="action.action(row.id)"
                                        >
                                            @if (action.icon) {
                                                <mat-icon>{{
                                                    action.icon
                                                }}</mat-icon>
                                            }
                                            <span>{{ action.label }}</span>
                                        </button>
                                    }
                                }
                            </mat-menu>
                        }

                        @default {
                            @switch (col.class) {
                                @case ("status-circle") {
                                    <span
                                        class="status-circle"
                                        [ngClass]="{
                                            'status-circle-active':
                                                row[col.name],
                                            'status-circle-inactive':
                                                !row[col.name],
                                        }"
                                        [matTooltip]="
                                            getTooltipValue(row, col.name)
                                        "
                                    ></span>
                                }
                                @default {
                                    <span
                                        [style]="col.style"
                                        [matTooltip]="
                                            getLargeTooltipValue(row, col.name)
                                        "
                                    >
                                        {{ getTruncatedValue(row, col.name) }}
                                    </span>
                                }
                            }
                        }
                    }
                </td>
            </ng-container>
        }

        <tr
            mat-header-row
            class="header"
            *matHeaderRowDef="columnNames(); sticky: 'sticky'"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: columnNames()"
            (dblclick)="onRowDblClick(row)"
        ></tr>
    </table>

    @if (showFeeback()) {
        <app-feedback
            class="feedback-container"
            [imageUrl]="'assets/no-result.svg'"
        ></app-feedback>
    }
</div>

@if (paginatorConfig() && !gridConfigSig().hasInfiniteScroll) {
    <mat-paginator
        class="paginator"
        [pageSize]="paginatorConfig()!.pageSize"
        [pageSizeOptions]="paginatorConfig()!.pageSizeOptions"
        [showFirstLastButtons]="true"
        [length]="paginatorConfig()!.totalCount"
        [pageIndex]="paginatorConfig()!.pageIndex"
        (page)="onPaginatorPageChange($event)"
    ></mat-paginator>
}

@if (gridConfigSig().hasInfiniteScroll && paginatorConfig()) {
    <div class="infinite-paginator">
        @if (paginatorConfig()!.totalCount) {
            <span>
                {{
                    getInfinitePaginatorData(
                        0,
                        gridDataSig().length,
                        paginatorConfig()!.totalCount
                    )
                }}
            </span>
        }
    </div>
}
