<div
    *ngIf="config?.hasInputSearch && isLoading"
    class="skeleton-search-container"
>
    <div class="skeleton-search-label">Buscar</div>
    <div class="skeleton-search-input"></div>
</div>

<div *ngIf="isLoading" class="skeleton-table">
    <div class="skeleton-header-row">
        <div class="skeleton-header-cell" *ngFor="let col of columns"></div>
    </div>

    <div
        class="skeleton-row"
        *ngFor="let i of [].constructor(paginatorConfig?.pageSize || 25)"
    >
        <div class="skeleton-cell" *ngFor="let col of columns">
            <div class="skeleton-line"></div>
        </div>
    </div>
</div>

<mat-form-field
    *ngIf="config.hasInputSearch && !isLoading"
    appearance="outline"
    class="search-field"
>
    <mat-label>Buscar</mat-label>
    <input
        matInput
        (input)="applyFilter($event)"
        [placeholder]="config.filterByColumn || 'Buscar todo'"
    />
</mat-form-field>

<div class="buttons-actions-container" *ngIf="!isLoading">
    <div>
        <app-chips
            *ngIf="config.hasChips"
            [chips]="chips"
            (chipRemoved)="onChipRemoved($event)"
        ></app-chips>
    </div>
    <div class="buttons-actions">
        <button
            *ngIf="config.hasCreateButton"
            mat-stroked-button
            color="primary"
            (click)="create()"
            style="border-radius: 50px"
        >
            Crear
        </button>

        <button
            *ngIf="config.hasExcelDownload"
            class="button-action"
            mat-icon-button
            color="primary"
            (click)="exportToExcel()"
            [matTooltip]="'Descargar Excel'"
        >
            <mat-icon>file_download</mat-icon>
        </button>
    </div>
</div>

<div class="table-container" *ngIf="!isLoading">
    <table
        mat-table
        *ngIf="!isLoading && dataSource.data.length > 0"
        [dataSource]="dataSource"
        matSort
        [matSortActive]="config.OrderBy.columnName"
        [matSortDirection]="config.OrderBy.direction"
        (matSortChange)="onSortChange($event)"
        class="table"
    >
        <!-- Definición de columnas dinámicas -->
        <ng-container
            *ngFor="let col of columns; trackBy: trackColumnByName"
            [matColumnDef]="col.name"
        >
            <!-- Encabezado de la columna -->
            <th
                mat-header-cell
                *matHeaderCellDef
                class="grid-cell"
                [style.width]="col.width || 'auto'"
                [style.text-align]="col.align || 'left'"
                [matTooltip]="col.hasHeaderTooltip ? col.label || col.name : ''"
            >
                <!-- Si es una columna de elipsis, -->
                <ng-container *ngIf="col.type === 'elipsis'">
                    <span *ngIf="col.label">{{ col.label }}</span>
                    <mat-icon *ngIf="col.headerIcon">{{
                        col.headerIcon
                    }}</mat-icon>
                </ng-container>
                <!-- Si es una columna normal, mostrar texto y sortable -->
                <ng-container *ngIf="col.type !== 'elipsis'">
                    <ng-container *ngIf="col.isSortable; else noSortableHeader">
                        <span
                            [mat-sort-header]="col.name"
                            [ngStyle]="{
                                display: 'flex',
                                'justify-content':
                                    col.align === 'center'
                                        ? 'center'
                                        : col.align === 'right'
                                          ? 'flex-end'
                                          : 'flex-start',
                            }"
                        >
                            {{ col.label || col.name | titlecase }}
                        </span>
                    </ng-container>
                    <ng-template #noSortableHeader>
                        {{ col.label || col.name | titlecase }}
                    </ng-template>
                </ng-container>
            </th>

            <!-- Celda de la columna -->
            <td
                mat-cell
                *matCellDef="let row"
                class="grid-cell"
                [style.width]="col.width || 'auto'"
                [style.text-align]="col.align || 'left'"
                [ngStyle]="{
                    'text-overflow':
                        col.type === 'elipsis' ? 'clip' : 'ellipsis',
                }"
            >
                <ng-container *ngIf="col.type === 'img' && row['imgUrl']">
                    <img [src]="row['imgUrl']" alt="Imagen" class="table-img" />
                </ng-container>

                <ng-container *ngIf="col.type === 'elipsis'; else defaultCell">
                    <button
                        mat-icon-button
                        [matMenuTriggerFor]="elipsisMenu"
                        aria-label="Más opciones"
                    >
                        <mat-icon color="primary">more_vert</mat-icon>
                    </button>
                    <!-- El menú se define dentro del ng-container para que sea parte del mismo bloque lógico -->
                    <mat-menu #elipsisMenu="matMenu">
                        <ng-container
                            *ngFor="let action of row['elipsisActions']"
                        >
                            <button
                                mat-menu-item
                                *ngIf="
                                    action.condition
                                        ? action.condition(row)
                                        : true
                                "
                                (click)="action.action(row.id)"
                            >
                                <mat-icon *ngIf="action.icon">{{
                                    action.icon
                                }}</mat-icon>
                                <span>{{ action.label }}</span>
                            </button>
                        </ng-container>
                    </mat-menu>
                </ng-container>

                <ng-template #defaultCell>
                    <ng-container
                        *ngIf="
                            col.style === 'status-circle';
                            else standardContent
                        "
                    >
                        <span
                            class="status-circle"
                            [ngClass]="{
                                'status-circle-active': row[col.name],
                                'status-circle-inactive': !row[col.name],
                            }"
                            [matTooltip]="getTooltipValue(row, col.name)"
                        ></span>
                    </ng-container>

                    <ng-template #standardContent>
                        <span
                            [matTooltip]="getLargeTooltipValue(row, col.name)"
                        >
                            {{ getTruncatedValue(row, col.name) }}
                        </span>
                    </ng-template>
                </ng-template>
            </td>
        </ng-container>

        <tr
            mat-header-row
            class="header"
            *matHeaderRowDef="columnNames; sticky: 'sticky'"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
    </table>
    <!-- Mostrar FeedbackComponent cuando no hay datos y no está cargando -->
    <app-feedback
        *ngIf="!isLoading && dataSource.data.length === 0"
        [imageUrl]="'assets/no-result.svg'"
    ></app-feedback>
</div>

<mat-paginator
    class="paginator"
    *ngIf="paginatorConfig && !isLoading"
    [pageSize]="paginatorConfig.pageSize"
    [pageSizeOptions]="paginatorConfig.pageSizeOptions"
    [showFirstLastButtons]="true"
    [length]="paginatorConfig.totalCount"
    [pageIndex]="paginatorConfig.pageIndex"
    (page)="onPaginatorPageChange($event)"
></mat-paginator>
