@import '../../../shared/styles/colors.scss';

/* Color encabezado de la tabla */
.header .grid-cell {
  background-color: $blue-color;
  color: $black-color;
  font-weight: bold;
}


/* Separación entre columnas de la tabla */
.grid-cell {
  padding: 8px 16px;
  border-right: 1px solid $grey-color;
}

.grid-cell:last-child {
  border-right: none;
}
