<!-- SKELETON -->
<div
    *ngIf="config?.withInputSearch && isLoading"
    class="skeleton-search-container"
>
    <div class="skeleton-search-label">Buscar</div>
    <div class="skeleton-search-input"></div>
</div>

<div *ngIf="isLoading" class="skeleton-table">
    <!-- Encabezado -->
    <div class="skeleton-header-row">
        <div
            class="skeleton-header-cell"
            *ngFor="let col of config?.columns || []"
        ></div>
    </div>

    <!-- 25 Rows -->
    <div class="skeleton-row" *ngFor="let row of rows25">
        <div class="skeleton-cell" *ngFor="let col of config?.columns || []">
            <div class="skeleton-line"></div>
        </div>
    </div>
</div>
<!-- FIN SKELETON -->

<!-- Buscador -->
<mat-form-field
    *ngIf="config.withInputSearch && !isLoading"
    appearance="outline"
    class="search-field"
>
    <mat-label>Buscar</mat-label>
    <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Escriba para filtrar"
    />
</mat-form-field>

<!-- Contenedor con scroll horizontal -->
<div class="table-container">
    <table
        mat-table
        *ngIf="!isLoading"
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8 table"
    >
        <!-- Columnas dinámicas -->
        <ng-container
            *ngFor="let colName of columnNames; let i = index"
            [matColumnDef]="colName"
        >
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="grid-cell"
                [style.width]="columnsWidth[i] || 'auto'"
            >
                {{ colName }}
            </th>

            <td
                mat-cell
                *matCellDef="let row"
                class="grid-cell"
                [style.width]="columnsWidth[i] || 'auto'"
                [matTooltip]="
                    getCellValue(row, colName).length > 25
                        ? getCellValue(row, colName)
                        : ''
                "
            >
                {{ getCellValue(row, colName) | truncate: 25 : true }}
            </td>
        </ng-container>

        <tr mat-header-row class="header" *matHeaderRowDef="columnNames"></tr>
        <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
    </table>
</div>

<!-- Paginador -->
<mat-paginator
    *ngIf="paginatorConfig && !isLoading"
    [pageSize]="paginatorConfig.pageSize"
    [pageSizeOptions]="paginatorConfig.pageSizeOptions"
    [showFirstLastButtons]="true"
></mat-paginator>
