@import "./../colors.scss";

.primary-button {
    /* Propiedades de un botón Material (tamaño, tipografía, etc.) */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    gap: 8px;
    min-width: 64px;
    height: 36px;
    line-height: 36px;
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    background-color: $anti-flash-white;
    border-radius: 50px;
    font-weight: 400;
    min-width: 100px;
    color: $primary-material-color;
    border: 1px solid $primary-material-color;
    transition: background-color 0.15s ease-in-out;

    img {
        width: 18px;
        height: 18px;
    }
}

.primary-button:hover {
    background-color: rgba(63, 81, 181, 0.04);
}

.primary-button:focus {
    outline: 2px solid $primary-material-color;
    outline-offset: 2px;
}
