.employee-grid-all-container {
    display: flex;
    flex-direction: column;
    height: 700px;
    padding: 20px 20px;
    app-alert {
        grid-column: 1 / -1; // Hace que ocupe desde la primera columna hasta la última (100%)
    }
}
