<!-- <app-breadcrumb></app-breadcrumb>
<app-alert></app-alert>
<div class="employee-grid-all-container">
    <app-grid
        [gridConfigSig]="gridConfig()"
        [gridDataSig]="gridData()"
        [isLoadingSig]="isLoadingGridData()"
        (exportExcelClientSide)="onExportToExcel($event)"
        (createButtonClicked)="onCreateEmployee()"
        (rowDblClick)="onRowDblClick($event)"
    ></app-grid>
</div> -->

<div class="employee-grid-all-container">
    <app-breadcrumb></app-breadcrumb>
    <app-alert></app-alert>
    <app-grid
        [gridConfigSig]="gridConfig()"
        [gridDataSig]="gridData()"
        [isLoadingSig]="isLoadingGridData()"
        (exportExcelClientSide)="onExportToExcel($event)"
        (createButtonClicked)="onCreateEmployee()"
        (rowDblClick)="onRowDblClick($event)"
    ></app-grid>
</div>
