.components-container {
    margin-top: 20px;
}

.form-wrapper {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.employee-form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actions-container {
    display: flex;
    justify-content: flex-end; // Alinea los botones a la derecha
    gap: 16px;
    margin-top: 20px;
}

.radio-group-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}

.header-with-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.employee-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.header-with-image h2 {
    margin: 0;
}

// Para añadir margen inferior a todos los elementos con la clase skeleton-loading heredado de skeleton.scss
.skeleton-loading {
    margin-bottom: 20px !important;
}

mat-form-field.skeleton-loading {
    margin-bottom: 20px !important;
}

.radio-group-container.skeleton-loading {
    display: block;
    margin-bottom: 20px !important;
}
