<div class="components-container">
    <app-breadcrumb></app-breadcrumb>
    <app-alert></app-alert>
</div>
<div class="form-wrapper">
    <div class="employee-form-container">
        <form [formGroup]="employeeForm">
            <div class="header-with-image" [appSkeleton]="isLoading">
                <h2>{{ title }}</h2>
                <img
                    *ngIf="operation === 'edit'"
                    [src]="employeeForm.get('imgUrl')?.value"
                    alt="Foto del empleado"
                    class="employee-photo"
                />
            </div>
            <mat-form-field appearance="outline" [appSkeleton]="isLoading">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" appRequiredValidation />
            </mat-form-field>
            <mat-form-field appearance="outline" [appSkeleton]="isLoading">
                <mat-label>Apellido</mat-label>
                <input
                    matInput
                    formControlName="surname"
                    appRequiredValidation
                />
            </mat-form-field>
            <app-date-input
                [formControlName]="'birthDate'"
                [label]="'Fecha de nacimiento'"
                [placeholder]="'Fecha de nacimiento'"
                [isDisabled]="false"
                [appSkeleton]="isLoading"
                appRequiredValidation
            ></app-date-input>
            <mat-form-field appearance="outline" [appSkeleton]="isLoading">
                <mat-label>Género</mat-label>
                <mat-select formControlName="genderId" appRequiredValidation>
                    <mat-option
                        *ngFor="let gender of genders"
                        [value]="gender.id"
                    >
                        {{ gender.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" [appSkeleton]="isLoading">
                <mat-label>Pais</mat-label>
                <mat-select formControlName="countryId" appRequiredValidation>
                    <mat-option
                        *ngFor="let country of countries"
                        [value]="country.id"
                    >
                        {{ country.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" [appSkeleton]="isLoading">
                <mat-label>Puesto</mat-label>
                <mat-select formControlName="positionId" appRequiredValidation>
                    <mat-option
                        *ngFor="let position of positions"
                        [value]="position.id"
                    >
                        {{ position.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div
                class="radio-group-container"
                *ngIf="operation === 'edit'"
                [appSkeleton]="isLoading"
            >
                <span>Activo</span>
                <mat-radio-group
                    aria-label="Seleccionar una opción"
                    formControlName="active"
                >
                    <span>Si</span
                    ><mat-radio-button
                        class="radio-option"
                        [value]="true"
                    ></mat-radio-button>
                    <span>No</span
                    ><mat-radio-button
                        class="radio-option"
                        [value]="false"
                    ></mat-radio-button>
                </mat-radio-group>
            </div>
        </form>
    </div>
    <div class="actions-container">
        <button mat-button (click)="onCancel()">Cancelar</button>
        <button
            mat-flat-button
            color="primary"
            [disabled]="!isReadyToSave()"
            (click)="onSave()"
        >
            Guardar
        </button>
    </div>
</div>
