.employee-grid-container {
  display: grid;
  grid-template-columns: 5fr 1fr; // Se define 2 columnas la 1ra toma la mayor parte (5 partes) y la 2da toma una parte (1 parte)
  gap: 10px; /* Opcional: añade un espacio entre los dos componentes */
  height: 100vh; /* Opcional: para que el contenedor ocupe toda la altura de la ventana y los hijos se estiren */
  width: 100%; /* Opcional: para que el contenedor ocupe todo el ancho */

  .filter-container{
    width: 100%;
  }
}