<div class="employee-grid-container">
    <app-grid
        [config]="gridConfig"
        [data]="gridData"
        [isLoading]="isLoadingData"
        (pageChange)="onGridPageChange($event)"
        (sortChange)="onGridSortChange($event)"
    ></app-grid>
    <div class="filter-container">
        <ng-container *ngIf="gridFilterForm">
            <app-grid-filter
                [config]="gridFilterConfig"
                [filterForm]="gridFilterForm"
                (emitFilterApplied)="applyFilter($event)"
            ></app-grid-filter>
        </ng-container>
    </div>
</div>
