<div class="employee-grid-container">
    <app-grid [config]="gridConfig" [data]="gridData"></app-grid>
    <div class="filter-container">
        <!-- a clase filter-container agregar margin-top si quiero que quede alineado con la grilla -->
        <ng-container *ngIf="gridFilterForm">
            <app-grid-filter
                [config]="gridFilterConfig"
                [filterForm]="gridFilterForm"
                (emitFilterApplied)="applyFilter($event)"
            ></app-grid-filter>
        </ng-container>
    </div>
</div>
