<div class="chips-container">
    <mat-chip-row
        class="chip-row"
        *ngFor="let chip of chips; trackBy: trackByChipKey"
        [disabled]="chip.disabled"
    >
        <!-- Mostrando la etiqueta del filtro -->
        <span class="chip-label">{{
            chip.label.substring(0, chip.label.indexOf(":") + 1)
        }}</span
        >{{ chip.label.substring(chip.label.indexOf(":") + 1) }}
        <mat-icon
            *ngIf="!chip.disabled"
            class="icon-remove"
            matChipRemove
            (click)="removeChip(chip)"
            [attr.aria-label]="'remove ' + chip.value"
        >
            cancel
        </mat-icon>
    </mat-chip-row>
</div>
