// Global color palette for the app
/* $color-blue: #03A9F4;
$color-blue-light: #e3f2fd;
$color-primary: #1976d2;
$color-secondary: #90caf9;
$color-success: #4caf50;
$color-warning: #ff9800;
$color-error: #f44336;
$color-background: #fafbfc;
$color-text: #222;
$color-white: #fff;
$color-black: #000;
$color-grey:  rgb(230, 228, 228); */

// Global color palette for the app
$blue-color: #03A9F4;
$blue-light-color: #e3f2fd;
$primary-color: #1976d2;
$secondary-color: #90caf9;
$success-color: #4caf50;
$warning-color: #ff9800;
$error-color: #f44336;
$background-color: #fafbfc;
$text-color: #222;
$white-color: #fff;
$black-color: #000;
$grey-color: rgb(230, 228, 228);
