// Global color palette for the app
$color-blue: #03A9F4;
$color-blue-light: #e3f2fd;
$color-primary: #1976d2;
$color-secondary: #90caf9;
$color-success: #4caf50;
$color-warning: #ff9800;
$color-error: #f44336;
$color-background: #fafbfc;
$color-text: #222;
$color-white: #fff;
$color-black: #000;
$color-grey:  rgb(230, 228, 228);
