<div class="feedback-dialog-container">
    <img [src]="getFeedbackIcon()" alt="Feedback icon" class="feedback-icon" />
    <p class="feedback-title">{{ data.title }}</p>
    <p class="feedback-message">{{ data.message }}</p>

    @if (data.showButtons) {
        <div class="feedback-actions">
            @if (data.cancelButtonText) {
                <button
                    mat-stroked-button
                    color="primary"
                    (click)="onCancelClick()"
                >
                    {{ data.cancelButtonText }}
                </button>
            }

            @if (data.acceptButtonText) {
                <button
                    mat-flat-button
                    color="primary"
                    (click)="onAcceptClick()"
                >
                    {{ data.acceptButtonText || "Aceptar" }}
                </button>
            }
        </div>
    }
</div>
