<div class="chips-container">
    @for (chip of chips; track trackByChipKey($index, chip)) {
        <mat-chip-row
            class="chip-row"
            [disabled]="chip.disabled"
            [matTooltip]="chip.label"
        >
            <!-- Mostrando la etiqueta del filtro -->
            <span class="chip-label">{{
                chip.label.substring(0, chip.label.indexOf(":") + 1)
            }}</span
            >{{ truncate(chip.label) }}
            <!-- Icono para eliminar el filtro -->
            @if (!chip.disabled) {
                <mat-icon
                    class="icon-remove"
                    matChipRemove
                    (click)="removeChip(chip)"
                    [attr.aria-label]="'remove ' + chip.value"
                >
                    cancel
                </mat-icon>
            }
        </mat-chip-row>
    }
</div>
