.main-container {
    padding-top: 50px;
}

.grid {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.inputs-container {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.actions-container {
    display: flex;
}
