.form-wrapper {
    margin: auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.employee-form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actions-container {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    margin-top: 20px;
}

.radio-group-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}
