<div class="form-wrapper">
    <h2>Crear nuevo empleado</h2>
    <div class="employee-form-container">
        <form [formGroup]="employeeForm">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="surname" />
            </mat-form-field>
            <app-date-input
                [formControlName]="'birthDate'"
                [label]="'Fecha de nacimiento'"
                [placeholder]="'Fecha de nacimiento'"
                [isDisabled]="false"
            ></app-date-input>
            <mat-form-field appearance="outline">
                <mat-label>Puesto</mat-label>
                <mat-select formControlName="position">
                    <mat-option
                        *ngFor="let position of employeePositions"
                        [value]="position"
                    >
                        {{ position }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div class="actions-container">
        <button mat-button (click)="onCancel()">Cancelar</button>
        <button
            mat-flat-button
            color="primary"
            [disabled]="employeeForm.invalid"
            (click)="onSave()"
        >
            Guardar
        </button>
    </div>
</div>
