.form-wrapper {
    margin: auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.employee-form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actions-container {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    margin-top: 20px;
}

.radio-group-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}

.header-with-image {
    display: flex; /* Alinea los elementos en una fila */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: space-between;
    //gap: 15px; /* Crea una separación entre el título y la imagen */
}

.employee-photo {
    width: 60px; /* Define el tamaño de la imagen */
    height: 60px;
    border-radius: 50%; /* Le da forma circular a la imagen */
    object-fit: cover; /* Asegura que la imagen no se distorsione */
    border: 2px solid #ddd; /* Añade un borde sutil */
}

/* Opcional: Estilo para el título */
.header-with-image h2 {
    margin: 0;
}
