.form-wrapper {
    margin: auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.employee-form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actions-container {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    gap: 16px;
    margin-top: 20px;
}

.radio-group-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}

.header-with-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.employee-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

/* Opcional: Estilo para el título */
.header-with-image h2 {
    margin: 0;
}
