<app-breadcrumb></app-breadcrumb>
<app-alert></app-alert>
<div class="form-wrapper">
    <h2>{{ title }}</h2>
    <div class="employee-form-container">
        <form [formGroup]="employeeForm">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="surname" />
            </mat-form-field>
            <app-date-input
                [formControlName]="'birthDate'"
                [label]="'Fecha de nacimiento'"
                [placeholder]="'Fecha de nacimiento'"
                [isDisabled]="false"
            ></app-date-input>
            <mat-form-field appearance="outline">
                <mat-label>Género</mat-label>
                <mat-select formControlName="genderId">
                    <mat-option
                        *ngFor="let gender of genders"
                        [value]="gender.id"
                    >
                        {{ gender.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Pais</mat-label>
                <mat-select formControlName="countryId">
                    <mat-option
                        *ngFor="let country of countries"
                        [value]="country.id"
                    >
                        {{ country.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Puesto</mat-label>
                <mat-select formControlName="positionId">
                    <mat-option
                        *ngFor="let position of positions"
                        [value]="position.id"
                    >
                        {{ position.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="radio-group-container" *ngIf="operation === 'edit'">
                <span>Activo</span>
                <mat-radio-group
                    aria-label="Seleccionar una opción"
                    formControlName="active"
                >
                    <span>Si</span
                    ><mat-radio-button
                        class="radio-option"
                        [value]="true"
                    ></mat-radio-button>
                    <span>No</span
                    ><mat-radio-button
                        class="radio-option"
                        [value]="false"
                    ></mat-radio-button>
                </mat-radio-group>
            </div>
        </form>
    </div>
    <div class="actions-container">
        <button mat-button (click)="onCancel()">Cancelar</button>
        <button
            mat-flat-button
            color="primary"
            [disabled]="employeeForm.invalid"
            (click)="onSave()"
        >
            Guardar
        </button>
    </div>
</div>
