<div class="employee-grid-infinite-container">
    <app-breadcrumb></app-breadcrumb>
    <app-alert></app-alert>
    <app-grid
        [gridConfigSig]="gridConfigSig()"
        [gridDataSig]="gridDataSig()"
        [isLoadingSig]="isLoadingGridDataSig()"
        (sortChange)="onGridSortChange($event)"
        (exportExcel)="onExportToExcel()"
        (createButtonClicked)="onCreateEmployee()"
        (rowDblClick)="onRowDblClick($event)"
        (infiniteScroll)="onInfiniteGridScroll()"
        (pageChange)="onGridPageChange($event)"
    ></app-grid>
</div>
