/* Estilos para el estado de carga del esqueleto */
.skeleton-loading {
    color: transparent !important;
    cursor: default;

    animation: pulse 1.5s infinite ease-in-out;
    background: linear-gradient(-90deg, #e0e0e0 0%, #f0f0f0 50%, #e0e0e0 100%);
    background-size: 400% 100%;
}

/* Aplica el estilo del esqueleto al mat-form-field */
.mat-form-field.skeleton-loading {
    /* Oculta los elementos internos mientras se carga */
    .mat-form-field-wrapper,
    .mat-form-field-flex,
    .mat-form-field-subscript-wrapper {
        visibility: hidden;
    }
}

/* Animación de pulso */
@keyframes pulse {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}
