<!-- <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input
        matInput
        [placeholder]="placeholder"
        [disabled]="isDisabled"
        #dateInputRef
        (blur)="onInputBlur($event)"
        (keydown.enter)="onInputBlur($event)"
        [matDatepicker]="picker"
        #inputPicker="matDatepickerInput"
    />
    <mat-datepicker-toggle
        matSuffix
        [for]="picker"
        tabindex="-1"
        #pickerToggle
    ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
 -->
<mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input
        matInput
        [formControl]="internalControl"
        [placeholder]="placeholder"
        [disabled]="isDisabled"
        #dateInputRef
        (blur)="onInputBlur($event)"
        (keydown.enter)="onInputBlur($event)"
        [matDatepicker]="picker"
    />
    <mat-datepicker-toggle
        matSuffix
        [for]="picker"
        tabindex="-1"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
