<div class="menu-cards-container">
    <mat-card
        *ngFor="let card of cards"
        class="menu-card"
        [routerLink]="!card.textBtn ? card.path : null"
    >
        <mat-card-header class="card-header">
            <img [src]="card.img" alt="Imagen de la tarjeta" *ngIf="card.img" />
            <h2>{{ card.title }}</h2>
        </mat-card-header>
        <mat-card-content>
            <p>{{ card.description }}</p>
        </mat-card-content>
        <mat-card-actions *ngIf="card.textBtn" class="actions">
            <a [routerLink]="card.path">
                <button mat-stroked-button color="primary">
                    {{ card.textBtn }}
                </button>
            </a>
        </mat-card-actions>
    </mat-card>
</div>
