<div class="menu-cards-container">
    <mat-card
        *ngFor="let card of cards"
        class="menu-card"
        [routerLink]="card.path"
    >
        <mat-card-header>
            <mat-card-title>{{ card.title }}</mat-card-title>
            <mat-card-subtitle *ngIf="card.resource">{{
                card.resource
            }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ card.description }}</p>
        </mat-card-content>
        <!--  <mat-card-actions>
            <a mat-button [routerLink]="card.path">Ver más</a>
        </mat-card-actions> -->
    </mat-card>
</div>
