<nav>
    <div class="breadcrumb">
        @for (
            breadcrumb of breadcrumbs;
            track breadcrumb.path;
            let last = $last
        ) {
            @if (!last) {
                <a [routerLink]="breadcrumb.path" class="breadcrumb-link">
                    {{ breadcrumb.label }}
                </a>
            }

            @if (last) {
                <span class="breadcrumb-text">
                    {{ breadcrumb.label }}
                </span>
            }

            @if (!last) {
                <span class="breadcrumb-divider"> / </span>
            }
        }
    </div>
</nav>
