/* .full-width-input {
    width: 100%;
} */
 .employee-form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 5px 0
 }

 .actions-container{
    display:flex;
    justify-content: flex-end;
    padding: 0 25px 20px 0;
 }